<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Period" value="3">
    </add>
    <add key="AttemptCount" value="2">
    </add>
    <add key="DataSyncDir" value="C:\Program Files\TAXAT\Unidom\sync_data">
    </add>
    <add key="Port" value="COM1">
    </add>
    <add key="LogResponse" value="True">
    </add>
	  <add key="TimeDelay" value="500">
	  </add>
	  <add key="TimeWait" value="1000">
	  </add>	  
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
